#cards-container {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

.card-front {
    width: 100%;
    height: 20em;
    background-image: url(../../images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 10px;
}

#card-logo {
    margin-bottom: 5.5em;

}

#card-number {
    letter-spacing: 5px;
    word-spacing: 5px;
    margin-bottom: 1em;
    color: $white;
}

.card-image-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
    color: $light-grayish-violet;
}


