#card-back {
    width: 100%;
    height: 20em;
    position: absolute;
    left: 25%;
}

#card-back-number {
    color: $light-grayish-violet;
    position: absolute;
    right: -15%;
    top: 31em;
}