button {
    width: 100%;
    padding: 20px;
    margin-top: 3em;
    border: none;
    background-color: $very-dark-violet;
    color: $white;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: $light-grayish-violet;
    color: $very-dark-violet;
}

#continue {
    width: 100%;
}

